beautifulsoup4==4.7.1
#git+https://github.com/setanta/ebookmaker -- added as submodule
lxml
pillow==8.3.* # required for generating cover image per volume/chapter
tqdm==4.62.* # for progess bars
webcolors==1.12
